html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class]{
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
margin: 0;
}

ul[class] {
list-style: none;
}

img {
max-width: 100%;
display: block; 
}

input,
button,
textarea,
select {
font: inherit;
}

a[class]{
text-decoration: none;
}

.container  {
  max-width: 730px;
  margin: 0 auto;
  padding: 0 15px;
  
}

.app__inner {
  border: 1px solid #c9c6c6;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(185, 205, 248);
  padding: 20px ;
}

.app__title {
  font-size: 50px;
  padding: 20px 0;
  text-align: center;
}